/**
 * default development theme for jQRangeSlider
 * Using fam fam icon set from Mark James, http://www.famfamfam.com/lab/icons/silk/ (Creative Commons Attribution 2.5 License)
 */

.ui-rangeSlider{
    height:22px;
    font:normal 12px Arial, Helvetica, sans-serif; color:#666;
}

.ui-rangeSlider .ui-rangeSlider-innerBar{
    height:4px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    margin:3px 6px;
    background:#fff;
}


.ui-rangeSlider .ui-rangeSlider-handle{
    width: 20px;
    height: 20px;
    border-radius: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
    border:0; outline:none;
    margin-top:-4px;
}

.ui-rangeSlider .ui-rangeSlider-bar{
    margin: 3px 0;
    background:#c4c4c4;
    height:5px;
}

.ui-rangeSlider .ui-rangeSlider-bar.ui-draggable-dragging{
}

.ui-rangeSlider-arrow{
    height:16px;
    margin:2px 0;
    width:16px;
    background-repeat:no-repeat;
}

.ui-rangeSlider-arrow.ui-rangeSlider-leftArrow{
    background-image: url('icons-classic/resultset_previous.png');
    background-position:center left;
}

.ui-rangeSlider-arrow.ui-rangeSlider-rightArrow{
    background-image: url('icons-classic/resultset_next.png');
    background-position:center right;
}

.ui-rangeSlider-arrow-inner{
    display: none;
}

.ui-rangeSlider-container{
    height:22px;
    vertical-align: central;
}

.ui-rangeSlider-withArrows .ui-rangeSlider-container{
    margin:0 11px;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container{
    margin:0;
}

.ui-rangeSlider-label{
    margin:0 2px 2px;
    background-image:url('../images/label.png');
    background-position:bottom center;
    background-repeat:no-repeat;
    white-space: nowrap;
    bottom:20px;
    padding:3px 6px 7px;
}

.ui-rangeSlider-label-inner{
    display:none;
}

/*
 * Edit slider
 */

input.ui-editRangeSlider-inputValue{
    width:3em;
    vertical-align: middle;
    text-align:center;
}

/*drop slider range*/
.ui-rangeSlider-tooltip {
    width:150px;
    bottom: 8px;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-radius:4px;
    padding:4px;
}
.ui-rangeSlider-tooltip img{width:40px; height:40px; float:left !important; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; float:left; margin-right:4px;}
.ui-rangeSlider-tooltip h1{ font:bold 12px Arial, Helvetica, sans-serif; color:#08c; text-align:left;}
.clr{ clear:both;}


.ui-dropRangeSlider-marker {
    width : 5px;
    height : 25%;
    background-color:#00abee;
    position : absolute;
    top:12%;
}
