<%= javascript_tag do %>
  var is_my_tweets = false;
  var search_params = {"low":750,"high":1000,"size":50,"top":0,"q":"","uniqueUser":true,"country":"in","screen_name":"","topic":"","in_reply_to_status_id":""};
  var markup = "<div class='twitSec' id='${tweet_id}' data-count='${more_count}'>{{if typeof(rt_user_id) != 'undefined'  && rt_user_id != null}}<div class='tw_img' user_id='${rt_user_id}'><img src='${rt_profile_image_url}'/></div><h1><span><img src='/images/t_birrd_small.png'/></span><a href='http://www.twitter.com/${rt_screen_name}' target='_blank'>${rt_name}</a><span class='timeCal flRt'>${created_at}</span></h1><span>@${rt_screen_name}</span><div class='clr'></div><p>{{html tweet_text}}</p><div class='retweeted'>Retweeted by<a href='http://www.twitter.com/${screen_name}' target='_blank'>${name}</a></div>{{else}}<div class='tw_img'><img src='${profile_image_url}'/></div><h1><span><img src='/images/t_birrd_small.png'/></span><a href='http://www.twitter.com/${screen_name}' target='_blank'>${name}</a><span class='timeCal flRt'>${created_at}</span></h1><span>@${screen_name}</span><div class='clr'></div><p>{{html tweet_text}}</p>{{/if}}<div class='moreOptions'><ul><li><a href='#' class='showmenu_reply'><img src='/images/reply_icn.png'></a></li><li><a href='#' class='showmenu_retweet'><img src='/images/retweet_icn.png'></a></li><li><a href='#' class='make-favorite' tid='${tweet_id}'><img src='/images/favorite_icn.png'></a></li></ul></div>{{if more_count>1}}<span class='more'><a href='#' onclick='return expand(this,\"${screen_name}\");'><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /></a></span>{{/if}}</div>";

  $( document ).ready(function() {
      $( "#rangeSelectvalue" ).hide();
      //document.getElementById('blueColorScale').style.width = (30)+"%";
      //document.getElementById('blueColorScale').style.left = (0)+"%";
      document.getElementById('rangeSelectvalue').innerHTML = "1000-750";
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 100,
      values: [ 0, 30 ],
      change: function( event, ui ) {
        $( "#rangeSelectvalue" ).show();
        
        //document.getElementById('blueColorScale').style.width = (ui.values[ 1 ]-ui.values[ 0 ])+"%";
        //document.getElementById('blueColorScale').style.left = (ui.values[0])+"%";
        var values = processValues(ui.values);
        
        document.getElementById('rangeSelectvalue').innerHTML = values[0] + "-" + values[1];
        search_params["low"] = values[1];
        search_params["high"] = values[0];
        $('#tweetlist').empty()
        callServer('#tweetlist');
      }
    });
  });

$(function () {
    
    $.ajax({
        url:"http://54.254.80.93/tweet-store/index.php/api/TweetsUnique/slider_dist",
        type : "GET",
        success:function(result){
            console.log(result);
            $('#container').highcharts({
                chart: {
                    type: 'column',
                    spacingRight: 0,
                    height: 80
                },
                title:{
                    text:''
                },
                xAxis: {
                    labels: {
                      enabled: false
                    },
                    lineWidth: 0,
                    minorGridLineWidth: 0,
                    gridLineWidth: 0,
                    lineColor: 'transparent',
                    minorTickLength: 0,
                    tickLength: 0
                },
                yAxis: {
                    labels: {
                      enabled: false
                    },
                    title: {
                        text: null
                    },
                    gridLineWidth: 0
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    column: {
                        groupPadding: 0.1,
                        pointPadding: 0.1,
                        pointWidth: 1,
                        borderWidth: 0,
                        colorByPoint: true
                    },
                    spline: {
                        lineWidth: 3,
                        marker: {
                            enabled: false,
                            states: {
                                 hover: {
                                      enabled: false
                                 }
                            }
                        },
                        shadow: false,
                        states: {
                            hover: {
                                lineWidth: 1,
                            }
                        },
                        threshold: null
                    }
                },
                colors: [
                    '#ff0000', 
                                '#ff0f00', 
                                '#ff1f00', 
                                '#ff2e00', 
                                '#ff3d00', 
                                '#ff4d00', 
                                '#ff5c00', 
                                '#ff6c00', 
                                '#ff7b00', 
                                '#ff8a00', 
                                '#ff9900', 
                                '#ffa900', 
                                '#ffb800', 
                                '#ffc700', 
                                '#ffd600', 
                                '#ffe600', 
                                '#fff500', 
                                '#f5ff00', 
                                '#d6ff00', 
                                '#b8ff00', 
                                '#99ff00', 
                                '#7aff00', 
                                '#5cff00', 
                                '#3dff00', 
                                '#1fff00', 
                                '#00ff00', 
                                '#00f000', 
                                '#00e100', 
                                '#00d100', 
                                '#00c200', 
                                '#00b300', 
                                '#00a400', 
                                '#009400', 
                                '#008500', 
                                '#0a8000', 
                                '#1a8000', 
                                '#298000', 
                                '#388000', 
                                '#488000', 
                                '#578000', 
                                '#668000', 
                                '#768000', 
                                '#7b850a', 
                                '#6c9429', 
                                '#5ca447', 
                                '#4db366', 
                                '#3dc285', 
                                '#2ed1a3', 
                                '#1fe1c2', 
                                '#0ff0e0', 
                                '#00ffff', 
                                '#00f0f0', 
                                '#00e1e1', 
                                '#00d1d1', 
                                '#00c2c2', 
                                '#00b3b3', 
                                '#00a4a4', 
                                '#009494', 
                                '#008585', 
                                '#007680', 
                                '#006680', 
                                '#005780', 
                                '#004880', 
                                '#003880', 
                                '#002980', 
                                '#001a80', 
                                '#000a80', 
                                '#050080', 
                                '#140080', 
                                '#240080', 
                                '#330080', 
                                '#430080', 
                                '#520080', 
                                '#610080', 
                                '#710080', 
                                '#800080', 
                                '#800071', 
                                '#800061', 
                                '#800052', 
                                '#800043', 
                                '#800033', 
                                '#800024', 
                                '#800014', 
                                '#800005', 
                                '#8a0014', 
                                '#990033', 
                                '#a90052', 
                                '#b80070', 
                                '#c7008f', 
                                '#d600ad', 
                                '#e600cc', 
                                '#f500eb', 
                                '#fa05fa', 
                                '#eb14eb', 
                                '#db24db', 
                                '#cc33cc', 
                                '#bd43bd', 
                                '#ae52ae', 
                                '#9e619e', 
                                '#8f718f', 
                                '#808080' 
                ],
                exporting: {
                     enabled: false
                },
                tooltip: {
                    enabled: false
                },
                series: [{
                    showInLegend: false, 
                    data: JSON.parse(result.data.counts)
                }]
            });
          }
    });
    
});
<% end %>

<div class="mainDiv">
  <div class="top_container">
    <%= render 'shared/slider' %>
    <div id="trending" class="tweetTags"></div>  
  </div>  
  <%= render 'shared/header' %>
  <%= render 'shared/footer' %>
</div>  
    
   





