<script>
  $(function() {
    $( "#slider" ).slider({step:100,value:300,min:1.max:800,change:function(){$("#newval").text($( "#slider" ).slider( "value" ));}});
  });
</script>

<div id="slider"></div>
<div id="newval"></div>

