<%= javascript_tag do %>
  var is_my_tweets = false;
  var search_params = {"low":750,"high":1000,"size":50,"top":0,"q":"","uniqueUser":true,"country":"in","screen_name":"","topic":"","in_reply_to_status_id":""};
  var markup = "<div class='twitSec' id='${tweet_id}' data-count='${more_count}'>{{if typeof(rt_user_id) != 'undefined'  && rt_user_id != null}}<div class='tw_img' user_id='${rt_user_id}'><img src='${rt_profile_image_url}'/></div><h1><span><img src='/images/t_birrd_small.png'/></span><a href='http://www.twitter.com/${rt_screen_name}' target='_blank'>${rt_name}</a><span class='timeCal flRt'>${created_at}</span></h1><span>@${rt_screen_name}</span><div class='clr'></div><p>{{html tweet_text}}</p><div class='retweeted'>Retweeted by<a href='http://www.twitter.com/${screen_name}' target='_blank'>${name}</a></div>{{else}}<div class='tw_img'><img src='${profile_image_url}'/></div><h1><span><img src='/images/t_birrd_small.png'/></span><a href='http://www.twitter.com/${screen_name}' target='_blank'>${name}</a><span class='timeCal flRt'>${created_at}</span></h1><span>@${screen_name}</span><div class='clr'></div><p>{{html tweet_text}}</p>{{/if}}<div class='moreOptions'><ul><li><a href='#' class='showmenu_reply'><img src='/images/reply_icn.png'></a></li><li><a href='#' class='showmenu_retweet'><img src='/images/retweet_icn.png'></a></li><li><a href='#' class='make-favorite' tid='${tweet_id}'><img src='/images/favorite_icn.png'></a></li></ul></div>{{if more_count>1}}<span class='more'><a href='#' onclick='return expand(this,\"${screen_name}\");'><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /></a></span>{{/if}}</div>";
  
  $( document ).ready(function() {
      $( "#rangeSelectvalue" ).hide();
      document.getElementById('blueColorScale').style.width = (30)+"%";
      document.getElementById('blueColorScale').style.left = (0)+"%";
      document.getElementById('rangeSelectvalue').innerHTML = "1000-750";
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 100,
      values: [ 0, 30 ],
      change: function( event, ui ) {
        $( "#rangeSelectvalue" ).show();
        
        document.getElementById('blueColorScale').style.width = (ui.values[ 1 ]-ui.values[ 0 ])+"%";
        document.getElementById('blueColorScale').style.left = (ui.values[0])+"%";
        var values = processValues(ui.values);
        
        document.getElementById('rangeSelectvalue').innerHTML = values[0] + "-" + values[1];
        search_params["low"] = values[1];
        search_params["high"] = values[0];
        callServer('#tweetlist');
      }
    });
  });
<% end %>

<div class="mainDiv">
  <%= render 'shared/header' %>
</div>  
    
   





