<script>
  $(function() {
    $( "#slider" ).slider({step:100,value:300,min:0,max:800,change:function(){
      $("#newval").text($( "#slider" ).slider( "value" ));
      $.getJSON( "/public/100.json", function( data ) {
        var items = [];
        $.each( data, function( key, val ) {
          items.push( "<li id='" + key + "'>" + val + "</li>" );
        });
 
        $( "<ul/>", {
          "class": "my-new-list",
          html: items.join( "" )
        }).appendTo( "body" );
      });
    }});
  });
</script>

<div id="slider"></div>
<div id="newval"></div>

