<script>

  var markup = "<div class='twitSec'><div user_id='${user_id}' class='tw_img draggable'><img src='${profile_image_url}'/></div><h1><span><img src='/images/t_birrd_small.png'/></span><a class='draggable' user_id='${user_id}' href='http://www.twitter.com/${screen_name}' target='_blank'>${name}</a><span class='timeCal flRt'>${created_at}</span></h1><span>@${screen_name}</span><div class='clr'></div><p>{{html tweet_text}}</p>{{if more_count>10}}<span class='more'><a href='#' onclick='expand(this,\"${screen_name}\");'><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /></a></span>{{else more_count == -999}}<span class='less'><a href='#' onclick='expand(this,\"${screen_name}\");'>show less</a></span>{{/if}}</div>";

  var hashtag = "<span class='label label-info' style='margin:0 5px 5px 0;'><a href='#'' class='hashtagclick' onclick='update(this,\"${term}\");'>${term}</a></span>";
  
  $.template( "twitterTemplate", markup );
  $.template( "trendingTemplate", hashtag );

  var search_params = {"low":750,"high":1000,"size":50,"top":0,"q":"","uniqueUser":true,"country":"in","screen_name":""};
  var search_url = "http://54.254.80.93/tweet-store/index.php/api/TweetsUnique/get?"

 
  function callSearchServer() {
    $("#tweetlist").empty();

    ///this is temporary due to a server bug, if q and screen_name is passed empty, the result coming is null
    var temp_params = JSON.parse(JSON.stringify(search_params));
    if(temp_params["q"] == ""){
      delete temp_params["q"];
    }
    if(temp_params["screen_name"] == ""){
      delete temp_params["screen_name"];
    }
    //temp ends

    $.getJSON( search_url, temp_params).done(function( data ) {
      
        if(data["data"]["totalCount"] > 0){
          
          
          var processed_tweets = urlify(data["data"]["tweets"]);
          if (search_params["screen_name"] == ""){
            processed_tweets = add_more_link(data["data"]["facets"]["user_tweet_frequency"]["terms"], processed_tweets);
          }
          else {
            processed_tweets = add_more_link([], processed_tweets); 
          }
          $.tmpl( "twitterTemplate", processed_tweets ).appendTo( "#tweetlist" );

          if ( search_params["q"] == "" && search_params["screen_name"] == "") {
            $("#trending").empty();
            $.tmpl("trendingTemplate", data["data"]["facets"]["hashtag_frequency"]["terms"].slice(0,20)).appendTo( "#trending" );
          }
          
          $(".timeCal").each(function(index){ $(this).text(timeSince($(this).text())); }); 
        }
        else {
             $( "#tweetlist" ).html("<div class='tweetlist'><p>Sorry, There are no tweets from people with UserRank range " + search_params["low"] + " - " + search_params["high"] + " - because they didn't tweet in the last 24 hours. Please change the range in the slider to see tweet.<p><p>Or if you think there is a bug, please do send us a screenshot at <a href='mailto:amar@brizzlabs.com'>amar@brizzlabs.com</a> & we will try fixing it.</p></div>");
        }
      }).fail( function(){
        $( "#tweetlist" ).html("<div class='tweetlist'><p>Oops! Something went wrong. Please check us again.</p></div>");
      });

      
        
      
    //});
  }

function add_more_link(array_term_frequency, all_tweets){
  var term_obj = {};
  //my_shit = all_tweets;
  
  for ( var i in array_term_frequency ){
    term_obj[array_term_frequency[i].term] = array_term_frequency[i].count;
    //alert(array_term_frequency[i].count);
  }
  for ( var i=0; i < all_tweets.length; i++ ){
    
    if (all_tweets[i]["screen_name"] in term_obj){
      all_tweets[i]["more_count"] = term_obj[all_tweets[i]["screen_name"]];
    }
    else {
      all_tweets[i]["more_count"] = 0;
    }
  }
  if(search_params["screen_name"] != ""){
    all_tweets[0]["more_count"] = -999;
  }
  return all_tweets;
}
function urlify(all_tweets) {
  var urlRegex = /(https?:\/\/[^\s]+)/g;
  for ( var i=0; i < all_tweets.length; i++ ){
      all_tweets[i]['tweet_text'] = all_tweets[i]['tweet_text'].replace(urlRegex, function(url) {
          return '\<a target="_blank" href="' + url + '"\>' + url + '\<\/a\>';
        });
  }
  return all_tweets;  
}

$( document ).ready(function() {

  $( "#rangeSelectvalue" ).hide();
  document.getElementById('blueColorScale').style.width = (30)+"%";
  document.getElementById('blueColorScale').style.left = (0)+"%";
  document.getElementById('rangeSelectvalue').innerHTML = "1000-750";
  
  callSearchServer();
  
  $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 100,
      values: [ 0, 30 ],
      change: function( event, ui ) {
        $( "#rangeSelectvalue" ).show();
        
        document.getElementById('blueColorScale').style.width = (ui.values[ 1 ]-ui.values[ 0 ])+"%";
        document.getElementById('blueColorScale').style.left = (ui.values[0])+"%";
        var values = processValues(ui.values);
        
        document.getElementById('rangeSelectvalue').innerHTML = values[0] + "-" + values[1];
        search_params["low"] = values[1];
        search_params["high"] = values[0];
        callSearchServer();
      }
    });

  $( "#viewCountry" ).change(function() {
    search_params["country"] = $("#viewCountry option:selected").attr('value');
    callSearchServer();    
  });
});


</script>

  <div class="mainDiv">
    <%= render 'shared/header' %>
    <div class="tweetMainDiv">
      <div id="trending" class="tweetTags"></div>
      <div id="tweetlist"></div>  
    </div>
    <div id="modal-container-more" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
          <span class="blue">PageRank</span> for Twitter
        </h3>
      </div>
      <div class="modal-body">
        <p>
          Just like Google's PageRank simplified accessing web for masses, we thought of building UserRank for all those who love Twitter for what it offers but get overwhelmed by the sheer volume.
        </p>
        <p>So We built a completely new <span class="blue">UserRank</span> system that ranks accounts, arranges tweets according to the tweeter's rank & lets user navigate through them through a line - our <span class="blue">UserRank</span> Line.</p>
        <p>Welcome to the new world of tweets where you dont have to search again ! Enjoy the coolest Tweet Show on Earth.</p>
        <p>Write to us at <a href="mailto:amar@brizzlabs.com">amar@brizzlabs.com</a> & get to know of cool features  (more countries, more events) straight from us. Some feedback & love in the email will go a long way too.</p>
      </div>
      <div class="modal-footer">
         <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <!--coming soon popup-->
      <div id="modal-container-coming" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">
            Coming Soon
          </h3>
        </div>
        <div class="modal-body">
          <p>
            Trained monkeys are on job. Please come back soon to check this feature out
          </p>
          <p>Currently only "all" filter is working.</p>
        </div>
        <div class="modal-footer">
           <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    <!--coming soon popup-->
  </div>




