<script>
  var markup = '<div class="twitSec"><div class="tw_img"><img src="${profile_image_url}" /></div><h1><span><img src="/images/t_birrd_small.png" /></span><a href="http://www.twitter.com/${screen_name}" target="_blank">${name}</a><span id="">@${screen_name}</span>&nbsp;<span class="timeCal">${created_at}</span></h1><span>{{html tweet_text}}</span></div>';
  
  //{{if rank==800}}<div class="verified_ac"><img src="/images/verified_image.png" /></div>{{/if}}

  var hashtag = "<span class='label label-info' style='margin:0 5px 5px 0;'><a href='#'' class='hashtagclick' onclick='update(this,\"${term}\");'>${term}</a></span>";
  
  $.template( "twitterTemplate", markup );
  $.template( "trendingTemplate", hashtag );
 
  function callSearchServer(search_type,low,high,size,top,query) {
    var tweet_url = "http://54.254.80.93/tweet-store/index.php/api/TweetsUnique/prio_user/";
    var user_url = "http://54.254.80.93/tweet-store/index.php/api/TweetsUnique/prio_search/";
    var tweeter_url = "";
    if (search_type == "tweet_search"){
      tweeter_url = tweet_url + "low=" + low + "&high=" + high + "&size=" + size + "&top=" + top;
    }
    else {
      tweeter_url = user_url + "low=" + low + "&high=" + high + "&size=" + size + "&top=" + top + "&q=" + query;
    }

    $.getJSON( tweeter_url, function( data ) {
      if (data["success"]) {
        if(data["data"]["totalCount"] > 0){
          $("#tweetlist").empty();
          
          var processed_tweets = urlify(data["data"]["tweets"]);
          //alert(processed_tweets);
          $.tmpl( "twitterTemplate", processed_tweets ).appendTo( "#tweetlist" );

          if ( search_type == "tweet_search") {
            $("#trending").empty();
            $.tmpl("trendingTemplate", data["data"]["facets"]["hashtag_frequency"]["terms"]).appendTo( "#trending" );
          }
          
          $(".timeCal").each(function(index){ $(this).text(timeSince($(this).text())); }); 
        }
        else {
             $( "#tweetlist" ).html("<p>Sorry, There are no tweets from people with UserRank range " + low + " - " + high + " - because they didn't tweet in the last 24 hours. Please change the range in the slider to see tweet.<p><br><p>Or if you think there is a bug, please do send us a screenshot at <a href='mailto:amar@brizzlabs.com'>amar@brizzlabs.com</a> & we will try fixing it.</p>");
        }
      }
      else {
        $( "#tweetlist" ).text("Oops! Something went wrong. Please check us again.");
      }
    });
  }

function urlify(all_tweets) {
  var urlRegex = /(https?:\/\/[^\s]+)/g;
  for ( var i=0; i < all_tweets.length; i++ ){
      all_tweets[i]['tweet_text'] = all_tweets[i]['tweet_text'].replace(urlRegex, function(url) {
          return '\<a target="_blank" href="' + url + '"\>' + url + '\<\/a\>';
        });
  }
  return all_tweets;  
}

$( document ).ready(function() {

  $( "#rangeSelectvalue" ).hide();
  document.getElementById('blueColorScale').style.width = (10)+"%";
  document.getElementById('blueColorScale').style.left = (0)+"%";
  document.getElementById('rangeSelectvalue').innerHTML = "800-720";
  
  callSearchServer("tweet_search", 700,800,50,0)
  
  $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 100,
      values: [ 0, 10 ],
      change: function( event, ui ) {
        $( "#rangeSelectvalue" ).show();
        
        document.getElementById('blueColorScale').style.width = (ui.values[ 1 ]-ui.values[ 0 ])+"%";
        document.getElementById('blueColorScale').style.left = (ui.values[0])+"%";
        var startPoint = (100 - ui.values[0]) * 8;
        var endPoint = (100 - ui.values[1]) * 8;
        if (endPoint == 0){
          endPoint = 1;
        }
        document.getElementById('rangeSelectvalue').innerHTML = startPoint + "-" + endPoint;
        callSearchServer("tweet_search", endPoint,startPoint,50,0);
      }
    });
});

function timeSince(date) {
  var curTime = new Date();
  var timezoneDiff = curTime.getTimezoneOffset() * 60000;
  var seconds = Math.floor((curTime.getTime() - (new Date(date)).getTime() + timezoneDiff) / 1000);
  var interval = Math.floor(seconds / 31536000);
  if (interval > 0) {
    return interval + "y ago";
  }
  interval = Math.floor(seconds / 2592000);
  if (interval > 0) {
    return interval + "mth ago";
  }
  interval = Math.floor(seconds / 86400);
  if (interval > 0) {
    return interval + "d ago";
  }
  interval = Math.floor(seconds / 3600);
  if (interval > 0) {
    return interval + "h ago";
  }
  interval = Math.floor(seconds / 60);
  if (interval > 0) {
    return interval + "m ago";
  }
  return Math.floor(seconds) + "s ago";
}


  function update(ele, val){  

    var values = $( "#slider-range" ).slider( "values" );
    var startPoint = (100 - values[0]) * 8;
    var endPoint = (100 - values[1]) * 8;
    if (endPoint == 0){
      endPoint = 1;
    }
    var twitter_uri = "";
    if($(ele).parent().attr('class') == "label label-info active"){
      
      $(ele).parent().removeClass('active');
      callSearchServer("tweet_search", endPoint,startPoint,50,0);
      
    }else{
      $(ele).parent().addClass('active').siblings().removeClass('active');  
      
      callSearchServer("user_search", endPoint,startPoint,50,0,encodeURIComponent(val));
    }
  }

  function bringBird(){
    $( "#rangeSelectvalue" ).show();
  }

  function hideBird(){
    $( "#rangeSelectvalue" ).hide();
  }
  
  

</script>
  <div class="mainDiv">
    <div id="slider">
      <div class="heading">
        <h1>Twitter Simplified<img src="/images/beta.png" style="position:absolute; padding-left:3px;" /></h1>
        <h2>Drag the slider to start. <a id="modal-more" href="#modal-container-more" data-toggle="modal" style="border:0; outline:none">How it works?</a></h2>
      </div>
      <div class="nav_selcet">
        <span style="padding-right:15px;">
          <b>Country</b>
          <span class="input-xlarge uneditable-input" style="width:200px; text-align:left">India</span>
        </span>
        <!--<span style="padding-right:15px;">
          <b>View</b>
          <select id="viewselect">
            <option>Accounts</option> 
            <option id="show">Tweets</option>
          </select>
        </span>-->
        <span style="padding-right:15px;" id="tweetTime">
          <b>Topic</b>
          <select>
            <option>All</option>
            <option>News</option>
            <option>IPL7</option>
            <option>Election2014</option>
            <option>FIFA</option>
          </select>
        </span>
      </div>
      <div class="progressMain">
        <div id="rangeSelectvalue"><p>800 - 700</p></div>
        
        <div class="progressbar" id="grayColorScale">
          <div class="progressbar_2" style="width:1%;position:absolute;left:0%;" id="blueColorScale"></div>
        </div>
        <div id="slider-range"  onmouseup="hideBird();" onselect="bringBird();"></div>
        <div class="slider_range_comment">
          <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">Big Shots</div>
          <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">ThinkTanks</div>
          <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">The Risers</div>
          <div class="slider_range_commentEach">Underdogs</div>
        </div>
      </div>
    </div>
    <div class="tweetMainDiv">
      <div id="trending" class="tweetTags"></div>
      <div id="tweetlist"></div>  
    </div>
    <div id="modal-container-more" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
          Tweets sorted by <span class="blue">UserRank</span>
        </h3>
      </div>
      <div class="modal-body">
        <p>
          Just like Google's PageRank simplified accessing web for masses, we thought of building UserRank for all those who love Twitter for what it offers but get overwhelmed by the sheer volume.
        </p>
        <p>So We built a completely new <span class="blue">UserRank</span> system that ranks accounts, arranges tweets according to the tweeter's rank & lets user navigate through them through a line - our <span class="blue">UserRank</span> Line.</p>
        <p>Welcome to the new world of tweets where you dont have to search again ! Enjoy the coolest Tweet Show on Earth.</p>
        <p>Write to us at <a href="mailto:amar@brizzlabs.com">amar@brizzlabs.com</a> & get to know of cool features  (more countries, more events) straight from us. Some feedback & love in the email will go a long way too.</p>
      </div>
      <div class="modal-footer">
         <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>




