<script>
  var markup = '<div class="content"><div class="stream-item-header"><a class="account-group js-account-group js-action-profile js-user-profile-link js-nav" target="_blank" href="http://www.twitter.com/${screen_name}"><img class="avatar js-action-profile-avatar" src="${profile_image_url}" alt=""><strong class="fullname js-action-profile-name show-popup-with-id">${name}</strong><span class="username js-action-profile-name"><s>@</s><b>${screen_name}</b></span></a><small class="time"><a target="_blank" href="http://www.twitter.com/status/{tweet_id}" class="tweet-timestamp js-permalink js-nav js-tooltip"><span class="_timestamp js-short-timestamp js-relative-timestamp" data-time="1396512393" data-long-form="true">4h</span></a></small></div><p class="js-tweet-text tweet-text">${tweet_text}</p></div>';

  var hashtag = '<div><a href="#" class="hashtagclick">${term}</a></div>';
  
  $.template( "twitterTemplate", markup );
  $.template( "trendingTemplate", hashtag );
   
  $('.hashtagclick').on("click",function(){
    
    var val_array =$( "#slider" ).slider( "values" );
    $("#tweetlist").empty();
    $.getJSON( "http://54.254.80.93/tweet-store/index.php/api/TweetsUnique/prio_search/low=" + val_array[0] + "&high=" + val_array[1] + "&size=50&top=0&q=" + $(this).text() ,function( data ) {
      if (data["success"]) {
        $.tmpl( "twitterTemplate", data["data"]["tweets"] ).appendTo( "#tweetlist" );
      }
      else {
        $( "#tweetlist" ).text("No tweet to show");
      }
    });
  });
  
  function addtoList(data){
    $("#tweetlist").empty();
    $("#trending").empty();
    $.tmpl( "twitterTemplate", data["data"]["tweets"] ).appendTo( "#tweetlist" );
    $.tmpl("trendingTemplate", data["data"]["facets"]["hashtag_frequency"]["terms"]).appendTo( "#trending" );
  }

  $(function() {
    $( "#slider" ).slider({step:100,range:true,values:[600,750],min:0,max:800,change:function(){
      var val_array =$( "#slider" ).slider( "values" );

      $.getJSON( "http://54.254.80.93/tweet-store/index.php/api/TweetsUnique/prio_user/low=" + val_array[0] + "&high=" + val_array[1] + "&size=50&top=0",function( data ) {
        if (data["success"]) {
          addtoList(data);
        }
        else {
          $( "#tweetlist" ).text("No tweet to show");
        }
      });
    }});
    $.getJSON( "http://54.254.80.93/tweet-store/index.php/api/TweetsUnique/prio_user/low=600&high=750&size=50&top=0", 
      function( data ) {
        if (data["success"]) {
          addtoList(data);
        }
    });
  });

</script>

<div id="slider"></div>
<div id="trending">
  <a href="#" class="hashtagclick"></a>
</div>
<div id="tweetlist"></div>

