<script>
  global_hashtag = "";
  var markup = "<div class='twitSec'><div class='tw_img'><img src='${profile_image_url}'/></div><h1><span><img src='/images/t_birrd_small.png'/></span><a href='http://www.twitter.com/${screen_name}' target='_blank'>${name}</a><span class='timeCal flRt'>${created_at}</span></h1><span>@${screen_name}</span><div class='clr'></div><p>{{html tweet_text}}</p>{{if more_count>10}}<span class='more'><a href='#' onclick='expand(this,\"${screen_name}\");'><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /></a></span>{{else more_count == -999}}<span class='less'><a href='#' onclick='expand(this,\"${screen_name}\");'>show less</a></span>{{/if}}</div>";
  //${more_count}
  //{{if rank==800}}<div class="verified_ac"><img src="/images/verified_image.png" /></div>{{/if}}

  var hashtag = "<span class='label label-info' style='margin:0 5px 5px 0;'><a href='#'' class='hashtagclick' onclick='update(this,\"${term}\");'>${term}</a></span>";
  
  $.template( "twitterTemplate", markup );
  $.template( "trendingTemplate", hashtag );
 
  function callSearchServer(search_type,low,high,size,top,query) {
    var tweet_url = "http://54.254.80.93/tweet-store/index.php/api/TweetsUnique/prio_user/";
    var user_url = "http://54.254.80.93/tweet-store/index.php/api/TweetsUnique/prio_search/";
    var single_user_tweets_url = "http://54.254.80.93/tweet-store/index.php/api/TweetsUnique/user_tweets/";

    var tweeter_url = "";
    var country = $("#viewCountry option:selected").attr('value');
    if (search_type == "tweet_search"){
      $("#tweetlist").empty();
      tweeter_url = tweet_url + "low=" + low + "&high=" + high + "&size=" + size + "&top=" + top + "&uniqueUser=true&country=" + country;
    }
    else if (search_type == "single_user_tweets") {
      $("#tweetlist").empty();
      tweeter_url = single_user_tweets_url + "size=" + size + "&top=" + top + "&screen_name=" + query + "&country=" + country;
      if(global_hashtag != ""){
        tweeter_url = tweeter_url + "&q=" + encodeURIComponent(global_hashtag);
      }

    }
    else {
      $("#tweetlist").empty();
      tweeter_url = user_url + "low=" + low + "&high=" + high + "&size=" + size + "&top=" + top + "&q=" + query + "&uniqueUser=true&country=" + country;
    }

  

    $.getJSON( tweeter_url, function( data ) {
      if (data["success"]) {
        if(data["data"]["totalCount"] > 0){
          
          
          var processed_tweets = urlify(data["data"]["tweets"]);
          if (search_type == "tweet_search" || search_type == "user_search"){
            processed_tweets = add_more_link(data["data"]["facets"]["user_tweet_frequency"]["terms"], processed_tweets);
          }
          else {
            processed_tweets = add_more_link([], processed_tweets,search_type); 
          }
          $.tmpl( "twitterTemplate", processed_tweets ).appendTo( "#tweetlist" );

          if ( search_type == "tweet_search") {
            $("#trending").empty();
            $.tmpl("trendingTemplate", data["data"]["facets"]["hashtag_frequency"]["terms"]).appendTo( "#trending" );
          }
          
          $(".timeCal").each(function(index){ $(this).text(timeSince($(this).text())); }); 
        }
        else {
             $( "#tweetlist" ).html("<div class='tweetlist'><p>Sorry, There are no tweets from people with UserRank range " + low + " - " + high + " - because they didn't tweet in the last 24 hours. Please change the range in the slider to see tweet.<p><p>Or if you think there is a bug, please do send us a screenshot at <a href='mailto:amar@brizzlabs.com'>amar@brizzlabs.com</a> & we will try fixing it.</p></div>");
        }
      }
      else {
        $( "#tweetlist" ).html("<div class='tweetlist'><p>Oops! Something went wrong. Please check us again.</p></div>");
      }
    });
  }

function add_more_link(array_term_frequency, all_tweets, search_type){
  var term_obj = {};
  //my_shit = all_tweets;
  
  for ( var i in array_term_frequency ){
    term_obj[array_term_frequency[i].term] = array_term_frequency[i].count;
    //alert(array_term_frequency[i].count);
  }
  for ( var i=0; i < all_tweets.length; i++ ){
    
    if (all_tweets[i]["screen_name"] in term_obj){
      all_tweets[i]["more_count"] = term_obj[all_tweets[i]["screen_name"]];
    }
    else {
      all_tweets[i]["more_count"] = 0;
    }
  }
  if(search_type == "single_user_tweets"){
    all_tweets[0]["more_count"] = -999;
  }
  return all_tweets;
}
function urlify(all_tweets) {
  var urlRegex = /(https?:\/\/[^\s]+)/g;
  for ( var i=0; i < all_tweets.length; i++ ){
      all_tweets[i]['tweet_text'] = all_tweets[i]['tweet_text'].replace(urlRegex, function(url) {
          return '\<a target="_blank" href="' + url + '"\>' + url + '\<\/a\>';
        });
  }
  return all_tweets;  
}

$( document ).ready(function() {

  $( "#rangeSelectvalue" ).hide();
  document.getElementById('blueColorScale').style.width = (30)+"%";
  document.getElementById('blueColorScale').style.left = (0)+"%";
  document.getElementById('rangeSelectvalue').innerHTML = "1000-750";
  
  callSearchServer("tweet_search", 750,1000,50,0)
  
  $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 100,
      values: [ 0, 30 ],
      change: function( event, ui ) {
        $( "#rangeSelectvalue" ).show();
        
        //document.getElementById('blueColorScale').style.width = (ui.values[ 1 ]-ui.values[ 0 ])+"%";
        //document.getElementById('blueColorScale').style.left = (ui.values[0])+"%";
        var values = processValues(ui.values);
        
        //document.getElementById('rangeSelectvalue').innerHTML = values[0] + "-" + values[1];
        callSearchServer("tweet_search", values[1], values[0],50,0);
      }
    });

  $( "#viewCountry" ).change(function() {
    
    var values = $( "#slider-range" ).slider( "values" );
    values = processValues(values);
    
    callSearchServer("tweet_search", values[1],values[0],50,0);
    
  });
});

function timeSince(date) {
  var curTime = new Date();
  var timezoneDiff = curTime.getTimezoneOffset() * 60000;
  var seconds = Math.floor((curTime.getTime() - (new Date(date)).getTime() + timezoneDiff) / 1000);
  var interval = Math.floor(seconds / 31536000);
  if (interval > 0) {
    return interval + "y ago";
  }
  interval = Math.floor(seconds / 2592000);
  if (interval > 0) {
    return interval + "mth ago";
  }
  interval = Math.floor(seconds / 86400);
  if (interval > 0) {
    return interval + "d ago";
  }
  interval = Math.floor(seconds / 3600);
  if (interval > 0) {
    return interval + "h ago";
  }
  interval = Math.floor(seconds / 60);
  if (interval > 0) {
    return interval + "m ago";
  }
  return Math.floor(seconds) + "s ago";
}
  
  function processValues(values){
    values[0] = (100 - values[0]) * 10;
    values[1] = (100 - values[1]) * 10;
    if (values[0] == 0){
      values[0] = 1;
    }
    return values;
  }

  function expand(ele, val){
    var values = $( "#slider-range" ).slider( "values" );
    values = processValues(values);
    if($(ele).text().indexOf("less") != -1 ){      
      callSearchServer("tweet_search", values[1],values[0],50,0);      
      //$(ele).text("show more");
    }else{
      callSearchServer("single_user_tweets", values[1],values[0],50,0,encodeURIComponent(val));  
      //$(ele).text("show less");
    }
  }

  function update(ele, val){  

    var values = $( "#slider-range" ).slider( "values" );
    values = processValues(values);

    
    if($(ele).parent().attr('class') == "label label-info active"){
      global_hashtag = "";
      $(ele).parent().removeClass('active');
      callSearchServer("tweet_search", values[1],values[0],50,0);
      
    }else{
      $(ele).parent().addClass('active').siblings().removeClass('active');  
      global_hashtag = val;
      callSearchServer("user_search", values[1], values[0], 50,0,encodeURIComponent(val));
    }
  }

  function bringBird(){
    $( "#rangeSelectvalue" ).show();
  }

  function hideBird(){
    $( "#rangeSelectvalue" ).hide();
  }
  
  <!--for coming soon popup-->
 function showDivTag(){
  var myselect = document.getElementById("selectOpt");
    var selectOption = myselect.options[myselect.selectedIndex].value;
  
  if(selectOption != "All"){
    $("#modal-container-coming").modal('show');
  }
  }
  <!--for coming soon popup-->

</script>
  <div class="mainDiv">
    <div id="slider">
      <div class="heading">
        <h1>Twitter Simplified<img src="/images/beta.png" style="position:absolute; padding-left:3px;" /></h1>
        <h2>Drag the slider to start. <a id="modal-more" href="#modal-container-more" data-toggle="modal" style="border:0; outline:none">How it works?</a></h2>
      </div>
      <div class="nav_selcet">
        <span style="padding-right:15px;">
          <b>Country</b>
          <select id="viewCountry">
            <option selected="selected" value="in">India</option>
            <option value="us">US</option>
          </select>  
        </span>
        <!--<span style="padding-right:15px;">
          <b>View</b>
          <select id="viewselect">
            <option>Accounts</option> 
            <option id="show">Tweets</option>
          </select>
        </span>-->
        <span style="padding-right:15px;" id="tweetTime">
          <b>Topic</b>
          <select onchange="showDivTag()" id="selectOpt">
            <option>All</option>
            <option>News</option>
            <option>IPL7</option>
            <option>Election2014</option>
            <option>FIFA</option>
          </select>
        </span>
      </div>
      <div class="progressMain">
        <div id="rangeSelectvalue"><p>1000 - 750</p></div>
        
        <div class="progressbar" id="grayColorScale">
          <div class="progressbar_2" style="width:1%;position:absolute;left:0%;" id="blueColorScale"></div>
        </div>
        <div id="slider-range"  onmouseup="hideBird();" onselect="bringBird();"></div>
        <div class="slider_range_comment">
          <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">Big Shots</div>
          <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">ThinkTanks</div>
          <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">The Risers</div>
          <div class="slider_range_commentEach">Underdogs</div>
        </div>
      </div>
    </div>
    <div class="tweetMainDiv">
      <div id="trending" class="tweetTags"></div>
      <div id="tweetlist"></div>  
    </div>
    <div id="modal-container-more" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
          <span class="blue">PageRank</span> for Twitter
        </h3>
      </div>
      <div class="modal-body">
        <p>
          Just like Google's PageRank simplified accessing web for masses, we thought of building UserRank for all those who love Twitter for what it offers but get overwhelmed by the sheer volume.
        </p>
        <p>So We built a completely new <span class="blue">UserRank</span> system that ranks accounts, arranges tweets according to the tweeter's rank & lets user navigate through them through a line - our <span class="blue">UserRank</span> Line.</p>
        <p>Welcome to the new world of tweets where you dont have to search again ! Enjoy the coolest Tweet Show on Earth.</p>
        <p>Write to us at <a href="mailto:amar@brizzlabs.com">amar@brizzlabs.com</a> & get to know of cool features  (more countries, more events) straight from us. Some feedback & love in the email will go a long way too.</p>
      </div>
      <div class="modal-footer">
         <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <!--coming soon popup-->
      <div id="modal-container-coming" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">
            Coming Soon
          </h3>
        </div>
        <div class="modal-body">
          <p>
            Trained monkeys are on job. Please come back soon to check this feature out
          </p>
          <p>Currently only "all" filter is working.</p>
        </div>
        <div class="modal-footer">
           <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    <!--coming soon popup-->
  </div>




