<%= javascript_tag do %>
  var is_my_tweets = true;
  var search_params = {"low":1,"high":1000,"size":50,"top":0,"q":"","uniqueUser":true,"country":"in","screen_name":"","topic":"","in_reply_to_status_id":""};
  var markup = "<div class='twitSec range-draggable' id='${tweet_id}' data-count='${more_count}' data-img='${rt_profile_image_url}' data-title='${name}'>{{if typeof(rt_user_id) != 'undefined' && rt_user_id != null && rt_user_id != ''}}<div class='tw_img' user_id='${rt_user_id}'><img src='${rt_profile_image_url}'/></div><h1><span><img src='/images/t_birrd_small.png'/></span><a href='http://www.twitter.com/${rt_screen_name}' target='_blank'>${rt_name}</a><span class='timeCal flRt'>${created_at}</span></h1><span>@${rt_screen_name}</span><div class='clr'></div><p>{{html tweet_text}}</p><div class='retweeted'>Retweeted by<a href='http://www.twitter.com/${screen_name}' target='_blank'>${name}</a></div>{{else}}<div class='tw_img draggable' user_id='${user_id}'><img src='${profile_image_url}'/></div><h1><span><img src='/images/t_birrd_small.png'/></span><a user_id='${user_id}' href='http://www.twitter.com/${screen_name}' target='_blank'>${name}</a><span class='timeCal flRt'>${created_at}</span></h1><span>@${screen_name}</span><div class='clr'></div><p>{{html tweet_text}}</p>{{/if}}<div class='moreOptions'><ul><li><a href='#' class='showmenu_reply'><img src='/images/reply_icn.png'></a></li><li><a href='#' class='showmenu_retweet'><img src='/images/retweet_icn.png'></a></li><li><a href='#' class='make-favorite' tid='${tweet_id}'><img src='/images/favorite_icn.png'></a></li></ul></div>{{if more_count>1}}<span class='more'><a href='#' onclick='expand(this,\"${screen_name}\");'><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /></a></span>{{/if}}</div>";

  
  $( document ).ready(function() {
        var marks = [{
                pos : 10,
                data : {
                        title : "abrar",
                        img : "http://pbs.twimg.com/profile_images/1237328494/New_Picture_normal.jpg"
                }
        },
        {
                pos : 60,
                data : {
                        title : "abrar4",
                        img : "http://pbs.twimg.com/profile_images/436105065598689281/Fm7w2M89_normal.png"
                }
        }];
        $("#slider-range").dropRangeSlider({markers : marks, arrows:false, valueLabels: "change"});
        $("#slider-range").bind("valuesChanged", function(e, data){
            console.log("Values just changed. min: " + data.values.min + " max: " + data.values.max);
            search_params["low"] = data.values.min;
            search_params["high"] = data.values.max;
            $('#tweetlist').empty()
            callServer('#tweetlist');
        });
  });
<% end %>

<div class="mainDiv">
  <div class="top_container">
    <%= render 'shared/slider' %>
    <div id="trending" class="tweetTags"></div>  
  </div>  
  <%= render 'shared/header' %>
  <%= render 'shared/footer' %>
</div>  







