<%= javascript_tag do %>
  var search_params = {"low":1,"high":1000,"size":50,"top":0,"q":"","uniqueUser":true,"country":"in","screen_name":"","topic":"","in_reply_to_status_id":""};
  var markup = "<div class='twitSec range-draggable' id='${tweet_id}' data-count='${more_count}' data-img='${profile_image_url}' data-title='${name}' data-id='${user_id}'>{{if typeof(rt_user_id) != 'undefined' && rt_user_id != null && rt_user_id != ''}}<div class='tw_img' user_id='${rt_user_id}'><img src='${rt_profile_image_url}'/></div><h1><span><img src='/images/t_birrd_small.png'/></span><a href='http://www.twitter.com/${rt_screen_name}' target='_blank'>${rt_name}</a><span class='timeCal flRt'>${created_at}</span></h1><span>@${rt_screen_name}</span><div class='clr'></div><p>{{html tweet_text}}</p><div class='retweeted'>Retweeted by<a href='http://www.twitter.com/${screen_name}' target='_blank'>${name}</a></div>{{else}}<div class='tw_img draggable' user_id='${user_id}'><img src='${profile_image_url}'/></div><h1><span><img src='/images/t_birrd_small.png'/></span><a user_id='${user_id}' href='http://www.twitter.com/${screen_name}' target='_blank'>${name}</a><span class='timeCal flRt'>${created_at}</span></h1><span>@${screen_name}</span><div class='clr'></div><p>{{html tweet_text}}</p>{{/if}}<div class='moreOptions'><ul><li><a href='#' class='showmenu_reply'><img src='/images/reply_icn.png'></a></li><li><a href='#' class='showmenu_retweet'><img src='/images/retweet_icn.png'></a></li><li><a href='#' class='make-favorite' tid='${tweet_id}'><img src='/images/favorite_icn.png'></a></li></ul></div>{{if more_count>1}}<span class='more'><a href='#' onclick='return expand(this,\"${screen_name}\");'><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /></a></span>{{/if}}</div>";

  
  $( document ).ready(function() {
        document.getElementById('rangeSelectvalue').innerHTML = "0 - 1000";
       
        var marks = [];
        $.ajax({
            type: 'GET',
            url: 'http://54.254.76.28/tweet-store/index.php/api/TweetsUnique/user?user_id='+user_id,
            success: function(data) { 
                data = JSON.parse(data);
                if(data.found == true) {
                    for(var key in data._source.ranks) {
                        if(data._source.ranks[key].set == false) continue;
                        var mark = {};
                        mark['pos'] = (1000 - data._source.ranks[key].rank)/parseFloat(10);
                        mark['data'] = {'id' : key, 'img': data._source.ranks[key].profile_image_url, 
                            'title': data._source.ranks[key].name};
                        marks.push(mark);
                    }
                }
                $("#slider-range").dropRangeSlider({markers : marks, arrows:false, valueLabels: "hide", defaultValues:{min: 0, max: 100}});
                $("#slider-range").bind("valuesChanged", function(e, data){
                    console.log("Values just changed. min: " + data.values.min + " max: " + data.values.max);
                    search_params["low"] = 1000 - data.values.max*10;
                    search_params["high"] = 1000 - data.values.min*10;
                    search_params["q"] = "";
                    search_params["screen_name"] = "";
                    search_params["uniqueUser"] = true;
                    document.getElementById('rangeSelectvalue').innerHTML = search_params["low"] + "-" + search_params["high"];
                    $('#tweetlist').empty()
                    callServer('#tweetlist');
                    hideBird();
                });
                $("#slider-range").bind("valuesChanging", function(e, data){
                    var param = {};
                    param["low"] = Math.floor(1000 - data.values.max*10);
                    param["high"] = Math.floor(1000 - data.values.min*10);
                    document.getElementById('rangeSelectvalue').innerHTML = param["low"] + "-" + param["high"];
                    bringBird();
                });
                $("#slider").bind("dropAction", function(e,data) {
                    console.log(data);
                    var rank = Math.floor(1000 - data['pos'] * 10);
                    if(confirm("Do you wish to set the rank of "+ data['title']+" to "+rank) == false) return false;
                    temp = {};
                    temp["rank"] =  rank;
                    temp["set"] = true;
                    temp["profile_image_url"] =  data['img'];
                    temp["name"] = data['title'];
                    user_data = {};
                    user_data["user_id"] = user_id;
                    user_data["ranks"] = {};
                    user_data["ranks"][data['id']] = temp;
                    $.ajax({
                        type: 'POST',
                        url: 'http://54.254.76.28/tweet-store/index.php/api/TweetsUnique/user',
                        data: JSON.stringify(user_data),
                        success: function(return_val) { 
                          $('#tweetlist').empty();
                          console.log("came inside updating rank")
                          console.log(data['id'])
                          updateRank(data['id'], rank);
                          console.log(user_data);
                          callServer('#tweetlist');
                       }
                    });
                });
            },
        });
  });
<% end %>

<div class="mainDiv">
  <div class="top_container">
    <%= render 'shared/slider' %>
    <div id="trending" class="tweetTags"></div>  
  </div>  
  <%= render 'shared/header' %>

  <div class="alert fade in" style="width:40%; margin:0 auto; text-align:center; position:fixed; top:145px; left:0; right:0; z-index:99999; padding:3px 35px 1px 14px">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong> Didn't like our ranking? </strong>Personalize it by dragging and dropping a tweet on rank-bar.
  </div>
  <%= render 'shared/footer' %>
</div>  







