<div id="modal-container-more" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">
        <span class="blue_text">Never miss Tweets from important People</span>
      </h3>
    </div>
    <div class="modal-body">
      <p>
        Show me tweets from important people even if its a day old.
      </p>
      <p>  
        If you ever felt like this, you have company. The existing time based user stream presumes that the most recent tweet is the most important one for user & shows it on top. However - we think people find it easy to consume tweets sorted by people over tweets sorted by time. One single chatty account can ruin the entire experience in case of later.
      </p>
      <p>What we bring you is a people view of Twitter - one where you see tweets sorted by people , or as we call it your stream 'people-fied' - where who you are matters more than when you tweet.</p>
      <p>Check out our 'Best of Twitter' section to experience this 'people-fied' version. You can login using your account too & see the magic happening to your account too.</p>
      <p>Welcome to the new world of tweets where you don't have to search again! Write to us at <a href="mailto:amar@brizzlabs.com">amar@brizzlabs.com</a>  & tell us what do you think of it.</p>
    </div>
    <div class="modal-footer">
       <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
