<script>
<% if session.has_key?("user") %>
  var is_signed = true
<% else %>
  var is_signed = false
<% end %>

var markup = "<div class='twitSec' id='${tweet_id}'><div class='tw_img'><img src='${profile_image_url}'/></div><h1><span><img src='/images/t_birrd_small.png'/></span><a href='http://www.twitter.com/${screen_name}' target='_blank'>${name}</a><span class='timeCal flRt'>${created_at}</span></h1><span>@${screen_name}</span><div class='clr'></div><p>{{html tweet_text}}</p><div class='moreOptions'><ul>{{if in_reply_to_status_id != ''}}<li><a class='modal-more' href='#' onclick='showModal(this,\"${in_reply_to_status_id}\");' style='border:0; outline:none'><img src='/images/conversation_icn.png'></a></li>{{/if}}<li><a href='#' class='showmenu_reply'><img src='/images/reply_icn.png'></a></li><li><a href='#' class='showmenu_retweet'><img src='/images/retweet_icn.png'></a></li><li><a href='#' class='make-favorite' tid='${tweet_id}'><img src='/images/favorite_icn.png'></a></li></ul></div>{{if more_count>10}}<span class='more'><a href='#' onclick='expand(this,\"${screen_name}\");'><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /><img src='/images/more_icn.png' /></a></span>{{else more_count == -999}}<span class='less'><a href='#' onclick='expand(this,\"${screen_name}\");'>show less</a></span>{{/if}}</div>";

  
  var hashtag = "<span class='label label-info' style='margin:0 5px 5px 0;'><a href='#'' class='hashtagclick' onclick='update(this,\"${term}\");'>${term}</a></span>";
  
  $.template( "twitterTemplate", markup );
  $.template( "trendingTemplate", hashtag );

  var replyTemp = "<div class='tweet_reply tweet_reply_reply'><img src='/images/reply_arrow.png' style='display:none;'><textarea rows='3' name='myfield' id='myfield' maxlength='140' style='width:96%;'></textarea><div class='reply_action'><a href='#' class='btn btn-small' style='float:right;' onclick='return closeContainer_reply();' id='hide'>Cancel</a><a href='#' onclick='return post_reply_data(\"${tweet_id}\");' class='btn btn-info btn-small' style='float:right;'><i class='icon-white icon-hdd'></i> Tweet</a><div id='CharCountLabel1'></div></div></div>";

  $.template("replyTemplate", replyTemp);

  var retweetTemplate = "<div class='tweet_reply tweet_reply_retweet'><img src='/images/reply_arrow.png'  style='position:absolute; top:-10px;'><h3>Retweet this to your followers?</h3><div class='retwet_action'><a href='#' onclick='return post_retweet_data(\"${tweet_id}\");' class='btn btn-info btn-small'><i class='icon-white icon-certificate'></i> Retweet</a><a href='#' class='btn btn-small' onclick='return closeContainer_retweet();'>Cancel</a></div></div>";

  $.template("retweetTemplate", retweetTemplate);

  var doneTemplate = "<div class='done_reply tweet_reply' style='display:block;'><img src='/images/reply_arrow.png'  style='position:absolute; top:-10px;'><h3>Posted to your Timeline.</h3><div class='retwet_action'><a href='#' class='btn btn-small' onclick='return closeContainer_done();'>Close</a></div></div>";

    

  var conversationTemplate = '<div class="tweet_conv"><div class="tw_img"><img src="${profile_image_url}"></div><h1><span><img src="/images/t_birrd_small.png"></span><a href="#">${name}</a><span id="" class="flRt modalCal">${created_at}</span></h1><span id="">@${screen_name}</span><div class="clr"></div><p>{{html tweet_text}}</p></div>';

  $.template("conversationTemplate", conversationTemplate);
  
  var search_params = {"low":750,"high":1000,"size":50,"top":0,"q":"","uniqueUser":true,"country":"in","screen_name":"","topic":"","in_reply_to_status_id":""};
  var search_url = "http://54.254.80.93/tweet-store/index.php/api/TweetsUnique/get?"

  function closeContainer_reply(){
    $(".tweet_reply_reply").each(function(){$(this).find('#myfield').val(''); $(this).hide().remove();});
    return false;
  }

  function closeContainer_done(){
    $(".done_reply").each(function(){$(this).hide().remove();});
    return false;
  }

  

  function post_reply_data(id){
    $.post( "/tweets/reply", { 'text': $('#myfield').val(), 'id': id } ,function(){
        //alert("success");
        $('#' + id).find('.tweet_reply_reply').after(doneTemplate).remove(); 
    }, 'json');
    return false;
  }

  function post_retweet_data(){
    $.post( "/tweets/retweet", { 'text': $('#myfield').val() }, function(){
        //alert("success");
        $('#' + id).find('.tweet_reply_reply').after(doneTemplate).remove(); 
    }, 'json' );

    return false;
  }

 

  function showModal(ele, val){
    search_params["in_reply_to_status_id"] = val;
    console.log("calling from showModal");
    console.log(val)
    
    var showModalFunction = function(data){
      //var processed_tweets = urlify(data["data"]["tweets"]);
    
      var processed_tweets = urlify(data["data"]["tweets"]);
      $.tmpl( "conversationTemplate", processed_tweets ).appendTo( "#modal-content-id" );
      $(".modalCal").each(function(index){ $(this).text(timeSince($(this).text())); }); 
      $('#modal-container-conv').modal('show');
    }
    $("#modal-content-id").empty();
    callSearchServer(showModalFunction);
  }

  function callSearchServer(func_call) {
    

    $.getJSON( search_url, search_params, function( data ) {
      console.log("before success");
      console.log(data['success']);
      if(data['success']){  
        if(data["data"]["totalCount"] > 0){
          
          
                func_call(data);
              

          
         

        }
        else {
             $( "#tweetlist" ).html("<div class='tweetlist'><p>Sorry, There are no tweets from people with UserRank range " + search_params["low"] + " - " + search_params["high"] + " - because they didn't tweet in the last 24 hours. Please change the range in the slider to see tweet.<p><p>Or if you think there is a bug, please do send us a screenshot at <a href='mailto:amar@brizzlabs.com'>amar@brizzlabs.com</a> & we will try fixing it.</p></div>");
        }
      }
      else
      {
        $( "#tweetlist" ).html("<div class='tweetlist'><p>Oops! Something went wrong. Please check us again.</p></div>");
      }
    });
  }

function add_more_link(array_term_frequency, all_tweets){
  var term_obj = {};
  //my_shit = all_tweets;
  
  for ( var i in array_term_frequency ){
    term_obj[array_term_frequency[i].term] = array_term_frequency[i].count;
    //alert(array_term_frequency[i].count);
  }
  for ( var i=0; i < all_tweets.length; i++ ){
    
    if (all_tweets[i]["screen_name"] in term_obj){
      all_tweets[i]["more_count"] = term_obj[all_tweets[i]["screen_name"]];
    }
    else {
      all_tweets[i]["more_count"] = 0;
    }
  }
  if(search_params["screen_name"] != ""){
    all_tweets[0]["more_count"] = -999;
  }
  return all_tweets;
}

function urlify(all_tweets) {
  var urlRegex = /(https?:\/\/[^\s]+)/g;
  for ( var i=0; i < all_tweets.length; i++ ){
      all_tweets[i]['tweet_text'] = all_tweets[i]['tweet_text'].replace(urlRegex, function(url) {
          return '\<a target="_blank" href="' + url + '"\>' + url + '\<\/a\>';
        });
  }
  return all_tweets;  
}

function timeSince(date) {
  var split_data = date.split(" ");
  var date_info  = split_data[0].split("-").map(function(item) {
                                                                 return parseInt(item, 10);
      });;
  var time_info  = split_data[1].split(":").map(function(item) {
                                                                  return parseInt(item, 10);
                                                              });;
  
  var curTime = new Date();
  var timezoneDiff = curTime.getTimezoneOffset() * 60000;
  //var seconds = Math.floor((curTime.getTime() - (new Date(date)).getTime() + timezoneDiff) / 1000);
  var seconds = Math.floor((curTime.getTime() - (new Date(date_info[0],date_info[1] -1,date_info[2],time_info[0],time_info[1],time_info[2])).getTime() + timezoneDiff) / 1000);
  var interval = Math.floor(seconds / 31536000);
  if (interval > 0) {
    return interval + "y ago";
  }
  interval = Math.floor(seconds / 2592000);
  if (interval > 0) {
    return interval + "mth ago";
  }
  interval = Math.floor(seconds / 86400);
  if (interval > 0) {
    return interval + "d ago";
  }
  interval = Math.floor(seconds / 3600);
  if (interval > 0) {
    return interval + "h ago";
  }
  interval = Math.floor(seconds / 60);
  if (interval > 0) {
    return interval + "m ago";
  }
  return Math.floor(seconds) + "s ago";
}
  
function processValues(values){
  values[0] = (100 - values[0]) * 10;
  values[1] = (100 - values[1]) * 10;
  if (values[0] == 0){
    values[0] = 1;
  }
  return values;
}

function expand(ele, val){
  //var values = $( "#slider-range" ).slider( "values" );
  //values = processValues(values);
  if($(ele).text().indexOf("less") != -1 ){      
    //callSearchServer("tweet_search", values[1],values[0],50,0);      
    //$(ele).text("show more");
    search_params["screen_name"] = "";
    search_params["uniqueUser"] = true;
  }else{
    search_params["screen_name"] = val;//encodeURIComponent(val);
    search_params["uniqueUser"] = false;
    //callSearchServer("single_user_tweets", values[1],values[0],50,0,encodeURIComponent(val));  

    //$(ele).text("show less");
  }
  callServer();
}

function update(ele, val){  

  //var values = $( "#slider-range" ).slider( "values" );
  //values = processValues(values);

  
  if($(ele).parent().attr('class') == "label label-info active"){
    //global_hashtag = "";
    search_params["q"] = "";
    $(ele).parent().removeClass('active');
    callServer();
    
  }else{
    $(ele).parent().addClass('active').siblings().removeClass('active');  
    //global_hashtag = val;
    search_params["q"] = val;//encodeURIComponent(val);
    search_params["screen_name"] = "";
    search_params["uniqueUser"] = true;
    callServer();//"user_search", values[1], values[0], 50,0,encodeURIComponent(val));
  }
}

function bringBird(){
  $( "#rangeSelectvalue" ).show();
}

function hideBird(){
  $( "#rangeSelectvalue" ).hide();
}
  
<!--for coming soon popup-->
function showDivTag(){
selectOption = $('#selectOpt').val();
//  var myselect = document.getElementById("selectOpt");
//  var selectOption = myselect.options[myselect.selectedIndex].value;
  
  if(selectOption == "mytweets"){
    //callServer();
    window.location.href = '/tweets/my';  
  }
  else if(selectOption == "1"){
    
    search_params["topic"] = selectOption;
    search_params["q"] = ""
    search_params["uniqueUser"] = false
    callServer();
  }
  else {

    window.location.href = '/tweets/index';
  }



}
<!--for coming soon popup-->

function doDragDrop(){
  $(".draggable").draggable({
      helper: 'clone',
      start: function(event, ui) {
        
      }
  });
  $( ".droppable" ).droppable({
    drop: function( event, ui ) {
      left = $( "#slider-range" ).position().left;
      width = $( "#slider-range" ).width();
      pos_drop = ui.offset.left - $(this).offset().left;
      if (pos_drop <= 0 )
        pos_drop = 0;
      else if (pos_drop > width )
        pos_drop = width;
      per = (pos_drop / width).toPrecision(2) * 100;
      per = Math.floor(100 - per);
      user_id = $(ui.draggable).attr('user_id');

      console.log(per + "\t" + user_id);

      $( "#slider-range" ).slider( "enable" );
      $( this )
        .removeClass( "ui-state-highlight" );
    },
    over: function(event, ui) {
      $( this )
        .addClass( "ui-state-highlight" );
        $( "#slider-range" ).slider( "disable" );
    },
    out: function(event, ui) {
      $( this )
        .removeClass( "ui-state-highlight" );
      $( "#slider-range" ).slider( "enable" );
    }
  });
}

function set_url(tweet) {
  var urlRegex = /(https?:\/\/[^\s]+)/g;

  return tweet.replace(urlRegex, function(url) {
          return '\<a target="_blank" href="' + url + '"\>' + url + '\<\/a\>';
        });
}

$( document ).ready(function() {
  //$('#modal-container-conv').modal('hide');
  $( "#rangeSelectvalue" ).hide();
  document.getElementById('blueColorScale').style.width = (30)+"%";
  document.getElementById('blueColorScale').style.left = (0)+"%";
  document.getElementById('rangeSelectvalue').innerHTML = "1000-750";
  
  console.log("from on ready");
  callServer();
  
  $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 100,
      values: [ 0, 30 ],
      change: function( event, ui ) {
        $( "#rangeSelectvalue" ).show();
        
        document.getElementById('blueColorScale').style.width = (ui.values[ 1 ]-ui.values[ 0 ])+"%";
        document.getElementById('blueColorScale').style.left = (ui.values[0])+"%";
        var values = processValues(ui.values);
        
        document.getElementById('rangeSelectvalue').innerHTML = values[0] + "-" + values[1];
        search_params["low"] = values[1];
        search_params["high"] = values[0];
        callServer();
      }
    });

  $( "#viewCountry" ).change(function() {
    search_params["country"] = $("#viewCountry option:selected").attr('value');
    callServer();    
  });

  $('#modal-container-conv').on('hidden.bs.modal', function (e) {
    search_params["in_reply_to_status_id"] = ""; 
  })

  $(document).on("click", ".showmenu_reply", function(){
    //if(!is_signed){
    //  alert("Please sign in!");
    //}
    //else {
      
      var el = $(this).parent().parent().parent();
      if($(el).next().hasClass("tweet_reply_reply")){
        $(el).next().hide().remove();
      } 
      else {
        $(".tweet_reply").each(function(){$(this).hide().remove();});
        temp = {'tweet_id': $(el).parent().attr('id')};
        replyTemp = $.tmpl( "replyTemplate", temp );
        $(el).after(replyTemp);
        $(el).next().slideToggle("fast");
        
      }  
    //}
    return false;
  });

  $(document).on("click", ".showmenu_retweet", function(){
    //if(!is_signed){
    //  alert("Please sign in!");
    //}
    //else {
      
      var el = $(this).parent().parent().parent();
      if($(el).next().hasClass("tweet_reply_retweet")){
        $(el).next().hide().remove();
      } 
      else {
        $(".tweet_reply").each(function(){$(this).hide().remove();});
        temp = {'tweet_id': $(el).parent().attr('id')};
        retweetTemp = $.tmpl( "retweetTemplate", temp );
        $(el).after(retweetTemp);
        $(el).next().slideToggle("fast");
        
      }  
    //}
    return false;
  });

  $(document).on("click", ".make-favorite", function(){
      var id = $(this).attr('tid');
      //var el = $(this);
      //console.log($(el))
      $.post( "/tweets/favorite", { 'id': id }, function(id){
        console.log(id)
        $("a[tid*=" + id + "]").empty().append("<img src='/images/favorite_icn_done.png' />");
      }, 'json'); 
      return false;
  });
});



function callServer()
{
  if(window.location.href.indexOf("/tweets/my") != -1){
    
  }
  else {
    $("#tweetlist").empty();
    var callServerFunc = function processServerDate(data){
      console.log(data);
      var processed_tweets = urlify(data["data"]["tweets"]);
      if (search_params["screen_name"] == ""){
        processed_tweets = add_more_link(data["data"]["facets"]["user_tweet_frequency"]["terms"], processed_tweets);
      }
      else {
        processed_tweets = add_more_link([], processed_tweets); 
      }
      
      console.log(processed_tweets)
      $.tmpl( "twitterTemplate", processed_tweets ).appendTo( "#tweetlist" );
      console.log($.tmpl( "twitterTemplate", processed_tweets ))
      
      if ( search_params["q"] == "" && search_params["screen_name"] == "") {
        $("#trending").empty();
        $.tmpl("trendingTemplate", data["data"]["facets"]["hashtag_frequency"]["terms"].slice(0,20)).appendTo( "#trending" );
      }
      
      $(".timeCal").each(function(index){ $(this).text(timeSince($(this).text())); }); 
    }
    callSearchServer(callServerFunc);
  }
}
</script>

<div id="slider">
  <div class="heading">
    <div class="signin">
      <% if session[:user] %>
        <a id="modal-more" href="/tweets/logout" style="border:0; outline:none">Logout</a>
      <% else %>  
        <a id="modal-more" href="/tweets/auth" style="border:0; outline:none">Sign in with Twitter</a>
      <% end %>
    </div>
    <h1>Twitter Simplified<img src="/images/beta.png" style="position:absolute; padding-left:3px;" /></h1>
    <h2>Drag the slider to start. <a id="modal-more" href="#modal-container-more" data-toggle="modal" style="border:0; outline:none">How it works?</a></h2>
  </div>
  <div class="nav_selcet">
    <span style="padding-right:15px;">
      <b>Country</b>
      <select id="viewCountry">
        <option selected="selected" value="in">India</option>
        <option value="us">US</option>
      </select>  
    </span>
    <!--<span style="padding-right:15px;">
      <b>View</b>
      <select id="viewselect">
        <option>Accounts</option> 
        <option id="show">Tweets</option>
      </select>
    </span>-->
    <span style="padding-right:15px;" id="tweetTime">
      <b>Topic</b>
      <select onchange="showDivTag();" id="selectOpt">
        <option value="all">All</option>
        <option value="mytweets">My Tweets</option>
        <option value="1">IPL7</option>
        <option value="elections2014">Election2014</option>
      </select>
    </span>
  </div>
  <div class="progressMain droppable">
    <div id="rangeSelectvalue"><p>1000 - 750</p></div>
    
    <div class="progressbar" id="grayColorScale">
      <div class="progressbar_2" style="width:1%;position:absolute;left:0%;" id="blueColorScale"></div>
    </div>
    <div id="slider-range"  onmouseup="hideBird();" onselect="bringBird();"></div>
    <div class="slider_range_comment">
      <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">Big Shots</div>
      <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">ThinkTanks</div>
      <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">The Risers</div>
      <div class="slider_range_commentEach">Underdogs</div>
    </div>
  </div>
  
  <div id="modal-container-conv" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-body" id="modal-content-id">  
    </div>
    <div class="modal-footer">
       <button class="btn" data-dismiss="modal" aria-hidden="true" onClick="">Close</button>
    </div>
  </div>

</div>

        