<script>
function timeSince(date) {
  var split_data = date.split(" ");
  var date_info  = split_data[0].split("-").map(function(item) {
                                                                 return parseInt(item, 10);
      });;
  var time_info  = split_data[1].split(":").map(function(item) {
                                                                  return parseInt(item, 10);
                                                              });;
  
  var curTime = new Date();
  var timezoneDiff = curTime.getTimezoneOffset() * 60000;
  //var seconds = Math.floor((curTime.getTime() - (new Date(date)).getTime() + timezoneDiff) / 1000);
  var seconds = Math.floor((curTime.getTime() - (new Date(date_info[0],date_info[1] -1,date_info[2],time_info[0],time_info[1],time_info[2])).getTime() + timezoneDiff) / 1000);
  var interval = Math.floor(seconds / 31536000);
  if (interval > 0) {
    return interval + "y ago";
  }
  interval = Math.floor(seconds / 2592000);
  if (interval > 0) {
    return interval + "mth ago";
  }
  interval = Math.floor(seconds / 86400);
  if (interval > 0) {
    return interval + "d ago";
  }
  interval = Math.floor(seconds / 3600);
  if (interval > 0) {
    return interval + "h ago";
  }
  interval = Math.floor(seconds / 60);
  if (interval > 0) {
    return interval + "m ago";
  }
  return Math.floor(seconds) + "s ago";
}
  
  function processValues(values){
    values[0] = (100 - values[0]) * 10;
    values[1] = (100 - values[1]) * 10;
    if (values[0] == 0){
      values[0] = 1;
    }
    return values;
  }

  function expand(ele, val){
    //var values = $( "#slider-range" ).slider( "values" );
    //values = processValues(values);
    if($(ele).text().indexOf("less") != -1 ){      
      //callSearchServer("tweet_search", values[1],values[0],50,0);      
      //$(ele).text("show more");
      search_params["screen_name"] = "";
      search_params["uniqueUser"] = true;
    }else{
      search_params["screen_name"] = val;//encodeURIComponent(val);
      search_params["uniqueUser"] = false;
      //callSearchServer("single_user_tweets", values[1],values[0],50,0,encodeURIComponent(val));  

      //$(ele).text("show less");
    }
    callSearchServer();
  }

  function update(ele, val){  

    //var values = $( "#slider-range" ).slider( "values" );
    //values = processValues(values);

    
    if($(ele).parent().attr('class') == "label label-info active"){
      //global_hashtag = "";
      search_params["q"] = "";
      $(ele).parent().removeClass('active');
      callSearchServer();
      
    }else{
      $(ele).parent().addClass('active').siblings().removeClass('active');  
      //global_hashtag = val;
      search_params["q"] = val;//encodeURIComponent(val);
      search_params["screen_name"] = "";
      search_params["uniqueUser"] = true;
      callSearchServer();//"user_search", values[1], values[0], 50,0,encodeURIComponent(val));
    }
  }

  function bringBird(){
    $( "#rangeSelectvalue" ).show();
  }

  function hideBird(){
    $( "#rangeSelectvalue" ).hide();
  }
  
  <!--for coming soon popup-->
 function showDivTag(){
  selectOption = $('#selectOpt').val();
//  var myselect = document.getElementById("selectOpt");
  //  var selectOption = myselect.options[myselect.selectedIndex].value;
    
    if(selectOption == "mytweets"){
      window.location.href = '/tweets/my';  
    }
    else if(selectOption != "all"){
      $("#modal-container-coming").modal('show');
      $('#selectOpt').val('all');
    }
    else {
      callSearchServer();
    }
  }
  <!--for coming soon popup-->
</script>

<div id="slider">
  <div class="heading">
    <div class="signin">
      <% if session[:user] %>
        <a id="modal-more" href="/tweets/logout" style="border:0; outline:none">Logout</a>
      <% else %>  
        <a id="modal-more" href="/tweets/my" style="border:0; outline:none">Sign in with Twitter</a>
      <% end %>
    </div>
    <h1>Twitter Simplified<img src="/images/beta.png" style="position:absolute; padding-left:3px;" /></h1>
    <h2>Drag the slider to start. <a id="modal-more" href="#modal-container-more" data-toggle="modal" style="border:0; outline:none">How it works?</a></h2>
  </div>
  <div class="nav_selcet">
    <span style="padding-right:15px;">
      <b>Country</b>
      <select id="viewCountry">
        <option selected="selected" value="in">India</option>
        <option value="us">US</option>
      </select>  
    </span>
    <!--<span style="padding-right:15px;">
      <b>View</b>
      <select id="viewselect">
        <option>Accounts</option> 
        <option id="show">Tweets</option>
      </select>
    </span>-->
    <span style="padding-right:15px;" id="tweetTime">
      <b>Topic</b>
      <select onchange="showDivTag();" id="selectOpt">
        <option value="all">All</option>
        <option value="mytweets">My Tweets</option>
        <option value="ipl7">IPL7</option>
        <option value="elections2014">Election2014</option>
      </select>
    </span>
  </div>
  <div class="progressMain">
    <div id="rangeSelectvalue"><p>1000 - 750</p></div>
    
    <div class="progressbar" id="grayColorScale">
      <div class="progressbar_2" style="width:1%;position:absolute;left:0%;" id="blueColorScale"></div>
    </div>
    <div id="slider-range"  onmouseup="hideBird();" onselect="bringBird();"></div>
    <div class="slider_range_comment">
      <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">Big Shots</div>
      <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">ThinkTanks</div>
      <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">The Risers</div>
      <div class="slider_range_commentEach">Underdogs</div>
    </div>
  </div>
</div>

        