  <div id="slider">

    <div class="heading">
      <div class="signin">
        <a id="modal-more" class="commonBtn2" href="#modal-container-more" data-toggle="modal" style="margin-right:3px;  border:0; outline:0;">How it works</a>
        <% if session[:user] %>
          <a id="" class="iframe commonBtn cboxElement" href="/tweets/logout" style="border:0; outline:none">Logout</a>
        <% else %>  
          <a id="" class="iframe commonBtn cboxElement" href="/tweets/auth" style="border:0; outline:none">Sign in with Twitter</a>
        <% end %>
      </div>
      <h1>Twitter Simplified<img src="/images/beta.png" style="position:absolute; padding-left:3px;"></h1>
    </div>
    <div class="nav_selcet">
      <span style="padding-right:15px;">
        <b>Country</b>
        <select id="viewCountry">
          <option selected="selected" value="in">India</option>
          <option value="us">US</option>
        </select>  
      </span>
      <!--<span style="padding-right:15px;">
        <b>View</b>
        <select id="viewselect">
          <option>Accounts</option> 
          <option id="show">Tweets</option>
        </select>
      </span>-->
      <span style="padding-right:15px;" id="tweetTime">
        <b>Topic</b>
        <select onchange="showDivTag();" id="selectOpt">
          <option value="all">Best of Twitter</option>
          <option value="mytweets">My Tweets</option>
          <option value="1">IPL7</option>
        </select>
      </span>
    </div>
    <div class="progressMain" id="progressMainID">
      <div id="rangeSelectvalue"><p>1000 - 750</p></div>
      
      <div id="container" style="min-width: auto; height: 52px; margin: 0 auto"></div>
      <div id="slider-range"  onmouseup="hideBird();" onselect="bringBird();"></div>
      <div class="slider_range_comment">
        <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">Big Shots</div>
        <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">ThinkTanks</div>
        <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">The Risers</div>
        <div class="slider_range_commentEach">Underdogs</div>
      </div>
    </div>
    <!--
    <div id="modal-container-conv" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-body" id="modal-content-id">  
      </div>
      <div class="modal-footer">
         <button class="btn" data-dismiss="modal" aria-hidden="true" onClick="">Close</button>
      </div>
    </div>
    -->
  </div>