  <div class="heading">
    <div class="headingInner">
      <div class="logo">
        <h1><a href="/" style="text-decoration:none;color:#000;">Peoplefied<img src="/images/beta.png" style="position:absolute; padding-left:3px;"></a></h1>
      </div>
      <div class="styled-select">
        <select id="viewCountry"> 
          <option selected="selected" value="in" style="height:20px; background-image:url(images/in.png); background-repeat:no-repeat;
  background-position:3px 0; text-indent:25px;">India</option>
          <option value="us">US</option>
        </select>
      </div>
      <div class="top_more_Div">
        <div class="fb-like" data-href="https://www.facebook.com/pages/Peoplefied/308697385954198" data-layout="button" data-action="like" data-show-faces="false" data-share="false" style="margin-right:10px;"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none" data-via="twitterapi" style="margin-right:10px;">Tweet</a>
        <a id="modal-more" class="" href="#modal-container-more" data-toggle="modal" style="margin-right:10px;  border:0; outline:0;">How it works</a>
        <a class="" href="http://blog.peoplefied.com" target="_blank" style="margin-right:10px;  border:0; outline:0;">Blog</a>
        <% if session[:user] %>
          <a id="" class="iframe commonBtn cboxElement" href="/tweets/logout" style="border:0; outline:none">Logout</a>
        <% else %>  
          <a id="" class="iframe commonBtn cboxElement" href="/tweets/auth" style="border:0; outline:none">Sign in with Twitter</a>
        <% end %>
      </div>
      <div id="dd" class="wrapper-dropdown-1 blue" tabindex="1">
        <% if params[:topic] %>
          <span>IPL7</span>  
        <% elsif @is_my_tweets %>  
           <span>My Tweets</span>  
        <% else %> 
          <span>Best of Twitter</span>
        <% end %>
          <ul class="dropdown" tabindex="1">
            <li><a href="#">Best of Twitter</a></li>
            <li id="ipl7-category"><a href="#">IPL7</a></li>
            <li style="border-top:1px solid #F7A2AB"><a href="#">My Tweets</a></li>
          </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div id="slider">
    <div class="progressMain" id="progressMainID">
      <div id="rangeSelectvalue"><p>1000 - 750</p></div>
      
      <div id="container" style="min-width: auto; height: 62px; margin: 0 auto"></div>
      <div id="slider-range"  onmouseup="hideBird();" onselect="bringBird();"></div>
      <div class="slider_range_comment">
        <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">Big Shots</div>
        <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">ThinkTanks</div>
        <div class="slider_range_commentEach" style="border-right:1px solid #e5e5e5">The Risers</div>
        <div class="slider_range_commentEach">Underdogs</div>
      </div>
    </div>
    <!--
    <div id="modal-container-conv" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-body" id="modal-content-id">  
      </div>
      <div class="modal-footer">
         <button class="btn" data-dismiss="modal" aria-hidden="true" onClick="">Close</button>
      </div>
    </div>
    -->
  </div>