<!DOCTYPE html>
<html>
<head>
  <title>Lmnop</title>
  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" %> 

  <%= javascript_include_tag "http://code.jquery.com/jquery-1.9.1.js" %>
  <%= javascript_include_tag "http://code.jquery.com/ui/1.10.4/jquery-ui.js" %>

</head>
<body>

<%= yield %>

</body>
</html>
